nodRed/flows2.json
[
    {
        "id": "4f3d45116e3cacec",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "87afce6326e0901c",
        "type": "inject",
        "z": "4f3d45116e3cacec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "298594852d3cd32d"
            ]
        ]
    },
    {
        "id": "3683e45426e1fe25",
        "type": "debug",
        "z": "4f3d45116e3cacec",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "298594852d3cd32d",
        "type": "function",
        "z": "4f3d45116e3cacec",
        "name": "function 1",
        "func": " // Lo que está después de \"//\" son comentarios \n // Crea un objeto Date a partir del msg.payload enviado por timestamp \n var date = new Date(msg.payload); \n // Cambia el payload para que sea una fecha con formato \n msg.payload = date.toString(); \n // Regresa el mensaje para que se envíe al siguiente nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 60,
        "wires": [
            [
                "3683e45426e1fe25"
            ]
        ]
    }
]